<!DOCTYPE html>
<html>
<head>
    <title>Exchange Rate API Results</title>
</head>
<body>
    <h1>Exchange Rate API Results</h1>
    <div id="result"></div>
    <script src="test.js"></script>
</body>
</html>
